<div class="container">
<span ng-show="params.details">
	<h2>{{single.docker_tag}}</h2>
	
	<div ng-show="single.job.error" class="row">
		<div class="alert alert-danger" role="alert">
			<i class="fa fa-times-circle icon-status-red"></i> 
			<strong>Uh oh.</strong> {{ single.job.error }}
		</div>
	</div>

	<div class="row" style="display: table;">

		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Status</h3>
				</div>

				<div class="panel-body">
				

					<table class="table table-striped">
						<tbody>
							<tr ng-show="is_owner">
								<td><strong>Control job</strong></td>
								<td>
									<button ng-show="single.job.active" type="button" class="btn btn-xs btn-danger" ng-click="stopJob(single._id)">Stop Job</button>
									<button ng-show="single.job.error" type="button" class="btn btn-xs btn-info" ng-click="validateJob(single._id)">Re-Validate Job</button>
								</td>
							</tr>

							<tr>
								<td>
									<strong>Last Check: </strong>
								</td>
								<td>
									{{ ago(single.job.last_check) }} 
								</td>
							</tr>
						</tbody>
					</table>
				
					
				</div>
			</div>
			
		</div>

		<div class="col-md-7">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Properties <i class="fa fa-edit pull-right"></i></h3>

				</div>
				<div class="panel-body">
					
					<div class="input-group input-group-sm">
						<span class="input-group-addon">Github Repo</span>
						<input type="text" class="form-control" placeholder="username/repo">
					</div>

				</div>
			</div>
			
		</div>



	</div>
</span>

<span ng-hide="params.details">
<h2>Knots</h2>

<p>"Knots" make up each individual project that's being built by Bowline. Here you can get a preview of the currently running jobs. Right now, all knots are public. However, the intention of making them private in the future is here. Additionally, only the creator of a knot may manage it.</p>

<div ng-show="error" class="alert alert-danger" role="alert">
	<strong>Oh snap!</strong> We experienced an error: {{ error }}
</div>

	<div class="col-md-12">
	<table class="table table-striped">

	<thead>
		<tr>
			<th>Docker Tag</th>
			<th>Git Repo</th>
			<th>Method</th>
			<th>Last Check</th>
			<th class="text-center">Get Details</th>
			<th class="text-center">Status</th>
		</tr>
	</thead>

	<tbody>
		<!--
<tr >
	-->
		<tr data-toggle="collapse" data-target="#{{ rel._id }}" ng-repeat="rel in releases">
			<td>{{rel.docker_tag}}</td>
			<td>{{rel.git_repo}}</td>
			<td>{{rel.method}}</td>
			<td>
				<span ng-show="rel.job.exists">
					{{ ago(rel.job.last_check) }}
				</span>
				<span ng-hide="rel.job.exists">
					-
				</span>
			</td>
			<td class="text-center">
				<button type="button" class="btn btn-sm btn-info" ng-click="showDetails(rel._id)">Details</button>
			</td>
			<td class="text-center">
				<span ng-show="rel.job.active"><i class="fa fa-check-circle icon-status-green"></i></span>
				<span ng-show="rel.job.error"><i class="fa fa-times-circle icon-status-red"></i></span>
				<span ng-hide="rel.job.exists"><i class="fa fa-pause icon-status-grey"></i></span>
			</td>

		</tr>
	
		<!-- 
		<tr ng-repeat-end>
			<td colspan="5" class="hiddenRow">
				<div class="accordion-body collapse" id="{{ rel._id }}">
						
						<div ng-show="rel.job.error" class="alert alert-danger col-md-6" role="alert">
							<i class="fa fa-times-circle icon-status-red"></i> 
							<strong>Uh oh.</strong> {{ rel.job.error }}
						</div>

						<div ng-hide="rel.job.error">
							(other info)
						</div>
					
				</div>
			</td>
		</tr>
		-->
	      
   	</tbody>

  </table>
</div>
</div>
</span>
</div>