<div class="col-md-6" style="margin-top: 10px; margin-bottom: 10px;">
	<div class="input-group">
		<span class="input-group-addon">Filter: </span>
		<input type="text" ng-model="knot_search" ng-change="knotSearchFilter()" class="form-control" placeholder="(Search or regex)">
	</div>
</div>

<div ng-show="error" class="alert alert-danger" role="alert">
	<strong>Oh snap!</strong> We experienced an error: {{ error }}
</div>

<div class="col-md-12">
	
	<div ng-hide="releases" class="alert alert-info" role="alert">
		<strong>No results</strong> Sorry, we didn't find any results for you.
	</div>

	<table ng-show="releases" class="table table-striped">

		<thead>
			<tr>
				<th>Docker Tag</th>
				<th ng-hide="username">Owner</th>
				<th>Last Build</th>
				<th class="text-center">Get Details</th>
				<th class="text-center">Health</th>
			</tr>
		</thead>

		<tbody>

			<tr data-toggle="collapse" data-target="#{{ rel._id }}" ng-repeat="rel in releases">
				<td>{{rel.docker_tag}}</td>
				<td ng-hide="username">
					<a ng-href="#/profile/{{rel.owner.username}}" class="nolinelink">
						<img class="image-responsive" ng-src="http://www.gravatar.com/avatar/{{rel.owner.profile.gravatar_hash}}?s=20&d=retro"/>
						{{rel.owner.username}}
					</a>
				</td>
				
				<td>
					<span ng-show="rel.last_build">
						{{ ago(rel.last_build) }}
					</span>
					<span ng-hide="rel.last_build">
						-
					</span>
				</td>
				
				<td class="text-center">
					<button type="button" class="btn btn-sm btn-info" ng-click="showDetails(rel._id)">Details</button>
				</td>
				
				<td class="text-center">
					<span ng-show="rel.job.active"><i class="fa fa-check-circle icon-status-green"></i></span>
					<span ng-show="rel.job.error"><i class="fa fa-times-circle icon-status-red"></i></span>
					<span ng-hide="rel.job.exists"><i class="fa fa-pause icon-status-grey"></i></span>
				</td>

			</tr>

		</tbody>

	</table>
</div>
