<div class="jumbotron">
    <span class="hidden-xs">
      <img src="images/bowline_jumbo.png" alt="Bowline -- tying your docker images to a build process">
    </span>
    <span class="visible-xs">
      <img src="images/bowline_minijumbo.png" alt="Bowline -- tying your docker images to a build process">
    </span>
    <br>
    <h2>...Tie your Docker images to an automated build process and registry.</h2>
</div>



<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <i class="bigicon fa fa-cogs"></i>
      <h2>It's a build server.</h2>
      <p>Bowline helps you organize the build process for creating and maintaining Docker images. You offload <code>docker build</code> to the Bowline server, and Bowline lets you know how those builds went, and updates the images on a registry for you. </p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <i class="bigicon fa fa-cube"></i>
      <h2>It's a registry UI.</h2>
      <p>Attached to it's own private registry, it provides a user interface to it. It ties together GitHub, DockerHub and it's own local registry service. And Bowline provides a history (and an interactive view) of your images builds. You can use the public service, or host your own.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <i class="bigicon fa fa-coffee"></i>
      <h2>It's a drip coffee maker.</h2>
      <p>Maybe not. But, grab a coffee -- Bowline starts building your images, logs the results, and alerts you of the build status for your Docker images automatically. You can even integrate your own unit tests and have Bowline alert you of a faulty build.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

