<div class="jumbotron">
    <span class="hidden-xs">
      <img src="images/bowline_jumbo.png" alt="Bowline -- tying your docker images to a build process">
    </span>
    <span class="visible-xs">
      <img src="images/bowline_minijumbo.png" alt="Bowline -- tying your docker images to a build process">
    </span>
    <br>
    <h2>...Tie your Docker images to a build process</h2>
</div>



<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <i class="bigicon fa fa-cube"></i>
      <h2>Edit your <code>Dockerfile</code></h2>
      <p>Simply add one line to your <code>Dockerfile</code>. This is your tie-in point.</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <i class="bigicon fa fa-flag"></i>
      <h2>Choose a semaphore</h2>
      <p>Select a way for Bowline to detect your project has been updated: Like a pull-request on Github, or an update to a file via HTTP (and more to come)</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <i class="bigicon fa fa-cogs"></i>
      <h2>Let Bowline do the work</h2>
      <p>Grab a coffee. Bowline will build your Docker image, log the results, push to Dockerhub (or a private registry), and alert you.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

