<h3></h3>

<div ng-show="error" class="alert alert-danger" role="alert">
	<strong>Ooops!</strong> {{error}}
</div>

<span ng-hide="error">

	<span ng-hide="edit">
		<div class="row">
			<div class="col-sm-12">
				<h2>{{username}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<img class="image-responsive" ng-src="http://www.gravatar.com/avatar/{{profile.gravatar_hash}}?s=150&d=retro"/>
			</div>
			<div class="col-sm-9">
				<table class="table">
					<tr ng-show="profile.github_user">
						<td width="10%"><i class="fa fa-github"></i></td>
						<td width="20%"><strong>Github</strong></td>
						<td><a target="_new" ng-href="https://github.com/{{profile.github_user}}">{{profile.github_user}}</a></td>
					</tr>
					<tr ng-show="profile.twitter_user">
						<td width="10%"><i class="fa fa-twitter"></i></td>
						<td width="20%"><strong>Twitter</strong></td>
						<td><a target="_new" ng-href="https://twitter.com/{{profile.twitter_user}}">{{profile.twitter_user}}</a></td>
					</tr>
					<tr ng-show="profile.website">
						<td width="10%"><i class="fa fa-external-link"></i></td>
						<td width="20%"><strong>Website</strong></td>
						<td><a target="_new" ng-href="{{profile.website}}">{{profile.website}}</a></td>
					</tr>
				</table>
			</div>
		</div>
		<hr />
		<knotlist username="username"></knotlist>

	</span>

	<span ng-show="edit">

		<div ng-show="save_error" class="alert alert-warning" role="alert">
			<strong>Ooops!</strong> {{save_error}}
		</div>

		<div ng-show="save_success" class="alert alert-info getfaded" role="alert">
			<strong>Saved!</strong> Your profile has been saved
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Your profile</h3>
			</div>

			<div class="panel-body">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td class="vert-align">Gravatar Email</td>
							<td>
								<input type="text" class="form-control" ng-model="profile.gravatar_email" placeholder="email for gravatar">
							</td>
						</tr>
						<tr>
							<td class="vert-align">GitHub Username</td>
							<td>
								<input type="text" class="form-control" ng-model="profile.github_user" placeholder="your github username">
							</td>
						</tr>
						<tr>
							<td class="vert-align">Twitter Username</td>
							<td>
								<input type="text" class="form-control" ng-model="profile.twitter_user" placeholder="twitter username">
							</td>
						</tr>
						<tr>
							<td class="vert-align">Website</td>
							<td>
								<input type="text" class="form-control" ng-model="profile.website" placeholder="twitter username">
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-primary pull-left" ng-click="saveProfile()">Save Profile</button>
				<button type="button" class="btn btn-info pull-right" ng-click="viewProfile()">View Profile</button>
			</div>
		</div>
	</span>

</span>

