body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron {
  text-align: center;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.bigicon {
    font-size: 65px;
    color: #346eec;
}

.ahover {
    cursor: pointer;
}

.hiddenRow {
    padding: 0 !important;
}

.icon-status-green {
    color: #52CC29;
    font-size: 20px;
}

.icon-status-red {
    color: #993300;
    font-size: 20px;
}

.icon-status-grey {
    color: #A3A3A3;
    font-size: 20px;
}

.addon-color {
  background-color: #d9edf7;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.no-select {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.logactive {
  background-color: #ABCFED !important;
}

/* ---------------------------- messages */

.message-read {
  color: gray;
}

.message-unread {
  color: blue;
}

/* ---------------------------- validator */

.validator-error {
  font-size: 17px;
  color: #CC0000;
}

.validator-required {
  font-size: 17px;
  color: #E6B800;
}

.coded {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.coded-comment {
  color: #ADADAD;
}

.coded-highlight {
  color: #53CF29;
}

.coded-autobuild {
  color: #FF7519; 
}

/* ---------------------- get a fade -------------------------------------------------------- */
/* -- thanks to:  http://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html */
/* -- // just add class "getfaded" to any element for ng-show / ng-hide --------------------- */

.getfaded.ng-hide-add,
.getfaded.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
.getfaded.ng-hide {
  opacity:0;
}

.getfaded.ng-hide-remove,
.getfaded.ng-hide-add {
  /* remember, the .hg-hide class is added to element
     when the active class is added causing it to appear
     as hidden. Therefore set the styling to display=block
     so that the hide animation is visible */
  display:block!important;
}

.getfaded.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

.getfaded.ng-hide-remove {
  -webkit-animation:0.5s show;
  animation:0.5s show;
}

@keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

.unpre {
  border: none;
  background-color: initial;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.knotproperties-header {
  background-color: #31708f !important; 
  color: whitesmoke !important;
}

/* ---------------------------- end validator */

  /*

  Thank you to the kind person that made this snippet: <link href="/css/sticky-footer-navbar.css" rel="stylesheet">

  */

    .login-container{
        position: relative;
        width: 300px;
        margin: 40px auto;
        padding: 20px 40px 40px;
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
    }

    #output{
        position: absolute;
        width: 300px;
        top: -75px;
        left: 0;
        color: #fff;
    }

    #output.alert-success{
        background: rgb(25, 204, 25);
    }

    #output.alert-danger{
        background: rgb(228, 105, 105);
    }


    .login-container::before,.login-container::after{
        content: "";
        position: absolute;
        width: 100%;height: 100%;
        top: 3.5px;left: 0;
        background: #fff;
        z-index: -1;
        -webkit-transform: rotateZ(4deg);
        -moz-transform: rotateZ(4deg);
        -ms-transform: rotateZ(4deg);
        border: 1px solid #ccc;

    }

    .login-container::after{
        top: 5px;
        z-index: -2;
        -webkit-transform: rotateZ(-2deg);
         -moz-transform: rotateZ(-2deg);
          -ms-transform: rotateZ(-2deg);

    }

    .avatar{
        width: 100px;height: 100px;
        margin: 10px auto 30px;
        border-radius: 100%;
        border: 2px solid #aaa;
        background-size: cover;
    }

    .form-box input{
        width: 100%;
        padding: 10px;
        text-align: center;
        height:40px;
        border: 1px solid #ccc;;
        background: #fafafa;
        transition:0.2s ease-in-out;

    }

    .form-box input:focus{
        outline: 0;
        background: #eee;
    }

    .form-box input[type="text"]{
        border-radius: 5px 5px 0 0;
        text-transform: lowercase;
    }

    .form-box input[type="password"]{
        border-radius: 0 0 5px 5px;
        border-top: 0;
    }

    .form-box button.login{
        margin-top:15px;
        padding: 10px 20px;
    }

    .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    @-webkit-keyframes fadeInUp {
      0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }

    @keyframes fadeInUp {
      0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    }

    .fadeInUp {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }

